# Created by http://gitignore.io

### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.swo
*.swap

pids
logs
results

npm-debug.log
node_modules
app/public/bower_components
config/default.json
