{{!< ../layouts/default}}
<div class="page-header">
	<h2>Open Issues
		<a href="/issues/new" class="btn btn-success pull-right"><i class="glyphicon glyphicon-plus"></i> Create Issue</a>
	</h2>
</div>
{{#each issues}}
<div class="media">
	<span class="pull-left">
		{{#with user}}
			{{> avatar}}
		{{/with}}
	</span>
	<div class="media-body">
		{{> issueSummary}}
	</div>
</div>
{{/each}}