{{!< ../layouts/default}}
<br/>
<div class="media">
	<span class="pull-left">
		{{#with user}}
			{{> avatar}}
		{{/with}}
	</span>
	<div class="media-body">
		{{> issueSummary}}
		<p>{{{description}}}</p>
	</div>
</div>
<hr>
{{> comments}}