{{!< ../layouts/default}}

<div class="page-header">
	<h1>All Users</h1>
</div>

<div class="progress">
	<div id="complete" class="progress-bar progress-bar-success" style=""></div>
	<div id="pendingReview" class="progress-bar progress-bar-warning" style=""></div>
	<div id="incomplete" class="progress-bar progress-bar-danger" style=""></div>
</div>

<ul class="media-list"></ul>
<script>
    var students = {{{students}}} || {};
    var hws = {{{hws}}} || {};
</script>
<script src='/generateHomework.js'></script>
