{{!< ../layouts/default}}

<div class="page-header">
	<h1>All Users</h1>
</div>

<ul class="media-list">
	{{#each users}}
		<li class="media">
			<span class="pull-left">{{> avatar}}</span>
			<div class="media-body">
				<a href="/users/{{id}}">{{name}}</a>
				<p>{{role}}</p>
			</div>
		</li>
	{{/each}}
</ul>