{{!< ../layouts/default}}
<h2>
	Schedule
	{{#if loggedInUser.instructor}}
		<a href="/days/new" class="pull-right btn btn-success">Create day</a>
	{{/if}}
</h2>


<div id="days">
	{{#each days}}
		{{> day}}
	{{/each}}
</div>
