{{!< ../layouts/default}}
<h2>
	Schedule
	{{#if loggedInUser.instructor}}
		<a href="/days/new" class="pull-right btn btn-success">Create day</a>
	{{/if}}
</h2>

<div class="alert alert-info">
	<p><strong>Heads up!</strong>. The order of these days has been reversed such that the latest days are now first. Student suggestion!</p>
</div>


<div id="days">
	{{#each days}}
		{{> day}}
	{{/each}}
</div>
