{{!< ../layouts/default}}
<p>{{{templateEval}}}</p>



<form method="post" action="/evals/{{student.id}}">
  <input name="_method" value="put" type="hidden">
  <textarea class="form-control" name="completeEval">{{student.eval.completeEval}}</textarea>
  <button class="btn" type="submit">Save</button>
</form>

{{#with student.eval}}
	{{> comments}}
{{/with}}