{{!< ../layouts/default}}

<form method="post" action="/evals/{{student.id}}">
  <input name="_method" value="put" type="hidden">
  <textarea class="form-control" name="completeEval">{{completeEval}}</textarea>
  <button type="submit">Save</button>
</form>

{{#with student.eval}}
	{{> comments}}
{{/with}}