{{!< ../layouts/default}}
<h2>The students each TA will evaluate</h2>

{{#each TAs}}
	<strong>{{name}}</strong>
	<ul>
		{{#each assigned_students}}
			<li>
				{{name}}
				(<a href="/evals/{{id}}/final">Final project eval</a>)
			</li>
		{{/each}}
	</ul>
{{/each}}