{{!< ../layouts/default}}
<h2>The students each TA will evaluate</h2>

{{#each TAs}}
	<strong>{{name}}</strong>
	<ul>
		{{#each assigned_students}}
			<li>
				{{name}}
				(
		          {{#if eval.final}}<i class="glyphicon glyphicon-ok"></i>{{/if}}
		          <a href="/evals/{{id}}/final">Final project eval</a>
		        )
		        (
		          {{#if skillsEvalComplete}}<i class="glyphicon glyphicon-ok"></i>{{/if}}
		          <a href="/evals/{{id}}/skills">Skills eval</a>
		        )
			</li>
		{{/each}}
	</ul>
{{/each}}