<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

<style>
html {
  background: url(/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.btn{
	padding:18px;
	width:230px;
	height:60px;
}
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
body{background:none;}
</style>
</head>
<body style="text-align:center">
<a class="Absolute-Center btn btn-success btn-lg" href="/fb"><span class="glyphicon glyphicon-log-in"></span> Login with facebook</a>
</body>
</html>