<html>
    <head>
        {{> scripts}}
        <script src="/socket.io/socket.io.js"></script>
        <script src="/Questions.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    </head>
    <body>

        <div class='container'>
            <div class='row'>
                <form id="questionform" action='#' method='post' class='form-inline'>
                        <input id="questioninput" class="form-control" type="text" name="question" placeholder="Enter Question">
                </form>
                <div id="questionsdisplay"></div>
            </div>
        </div>
    </body>
</html>
