<html>
    <head>
        {{> scripts}}
        {{> css}}
        <script src="/socket.io/socket.io.js"></script>
        <script src="/Questions.js"></script>
    <head>
    <body>

        <div class='container'>
            <br>
            <div class='row'>
                <form id="questionform" action='#' method='post' class='form-inline'>
                        <input id="questioninput" class="form-control" type="text" name="question" placeholder="Enter Question">
                </form>
                <div id="questionsdisplay"></div>
            </div>
        </div>
    </body>
</html>
