{{!< ../layouts/default}}

<div class="page-header">
	<h2>
		Homework
		{{#if loggedInUser.instructor}}
			<a href="/hws/new" class="pull-right btn btn-success">Create Homework</a>
		{{/if}}
	</h2>
</div>

<pre>{{#each hws}}
{{> hwSummary}}
{{/each}}</pre>