{{!< ../layouts/default}}

<div class="page-header">
	<h2>
		Create Homework
	</h2>
</div>

<form method="post" action="/hws">
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" class="form-control">
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<textarea name="description" id="description" data-provide="markdown" class="form-control"></textarea>
	</div>
	<div class="form-group">
		<label for="checklist">Checklist</label>
		<textarea name="checklist" class="form-control"></textarea>
	</div>
	<div class="form-group">
		<label for="dayAssigned">Day Assigned</label>
		<select class="form-control" name="dayAssigned">
			{{#each daysHash}}
				<option value="{{id}}">{{d}}</option>
			{{/each}}
		</select>
	</div>
	<div class="form-group">
		<label for="dayDue">Day Due</label>
		<select class="form-control" name="dayDue">
			{{#each daysHash}}
				<option value="{{id}}">{{d}}</option>
			{{/each}}
		</select>
	</div>
	<div>
    	<input type="hidden" name="tags" id="tags">
    </div><br/>
    <div>
    	<button type="submit" class="btn btn-success">Create</button>
    </div>
</form>

<script src="/tags.js"></script>
